/* First postprocess on PostCSS: https://madlittlemods.github.io/postcss-css-variables/playground/ */
/* Then paste the output from PostCSS into the autoprefixer: http://autoprefixer.github.io/ */

:root {
/* Shared Properties */
  --main-margin: 10px;
  --main-padding: 10px;
  --main-font-weight: 700;

/* Body Properties */
  --body-font-family: 'DM Serif Display', sans-serif;
  --body-background-color: #d5d8dc;
  --body-font-size: 16px;
  --body-font-weight: 400;

/*Header Properties */
  --header-font-family: 'Bungee Shade', cursive;
  --h1-font-size: 40px;
  --h2-font-size: 24px;
  --h3-font-size: 18px;

/* Border Properties */
  --border-thickness: 1px;
  --border-color: black;
  --border-type: solid;

/* Link Properties */
  --link-text-color: #357b70;
  --link-visited-color: #05676e;
  --link-activated-color: #489c79;

/* Button Properties */
  --button-background-color: #357b70;
  --button-text-color: #ffffff;
  --button-secondary-background-color: #e0b354;
  --button-secondary-text-color: #2b2b2b;

/* Resume Button Properties */
  --rbutton-background-color: #aed6d1;
  --rbutton-text-color: #55706d;
  --rbutton-hovor-background-color: #55706d;
  --rbutton-hover-text-color: #ffe8a3;

/* Grid Properties */
  --grid-background-color: lightgray;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

h1 {
 font-family: var(--header-font-family);
 font-size: var(--h1-font-size);
 font-weight: var(--main-font-weight);
}

h2 {
 font-family: var(--header-font-family);
 font-size: var(--h2-font-size);
 font-weight: var(--main-font-weight);
}

h3 {
 font-family: var(--header-font-family);
 font-size: var(--h3-font-size);
 font-weight: var(--main-font-weight);
}

div {
  border: var(--border-thickness) var(--border-type) var(--border-color); /* Attributes describe: thickness, type, color */
  margin: var(--main-margin); /* Adds a 10px outer spacing to all sides */
  padding: var(--main-padding); /* Adds a 10px inner spacing to all sides */

}

section {
  margin: 20px;
}

table {
  border: var(--border-thickness) var(--border-type) var(--border-color); /* Attributes describe: thickness, type, color */
  margin: var(--main-margin); /* Adds a 10px outer spacing to all sides */
}

a {
  color: var(--link-text-color);
}

a:hover, a:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--link-visited-color);
}

a:active {
  /* selected link */
  color: var(--link-activated-color);
}

button {
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-background-color);
  /* overwrites browser defaults and resets the border */
  border: none;/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px var(--border-type) rgb(0, 0, 0);
  border-bottom: 2px var(--border-type) rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: var(--button-text-color);
  /* takes the font from the outer container */
  font-family: inherit;
  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: var(--main-padding);
  text-decoration: none;

  transition: 0.7s opacity;
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.resume-button {
  background: var(--rbutton-background-color);
  border: 5px transparent;
  border-radius: 40px;
  color: var(--rbutton-text-color);
  font-weight: bold;
  margin-right: .5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 15px 30px;
  text-decoration: none;
  text-indent: 15px;
  transition: all .6s, border 0.25s .6s, box-shadow 0.15s .75s;
  white-space: nowrap;
  width: 200px;
}
.resume-button span {
  display: inline-block;
  font-weight: normal;
  opacity: 0;
  transform: translateX(300px);
  transition: opacity 0.05s 0.25s, transform 0.2s 0.25s;
}
.resume-button:hover {
  background: var(--rbutton-hovor-background-color);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  color: var(--rbutton-hover-text-color);
  cursor: pointer;
  text-indent: 0;
  width: 275px;
}
.resume-button:hover span {
  opacity: 1;
  transform: translateX(0);
}
.page-container {
  border: 0;
  margin: 0;
  min-height: 100vh;
  /* Footer height */
  padding: 0;
  position: relative;
}

.content-wrap {
  border: 0;
  margin: 0;
  padding: 0;
  /* Footer height */
  padding-bottom: 7rem;
}
.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  border: none;
  margin: 0 auto;
  max-width: 700px;
}


.profile__portrait {
  border-radius: 50%;
  float: left;
  margin-right: 40px;
  width: 250px;
}

.page-header {
  display: flex;
  padding: 20px;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
}

.logo {
  max-height: 200px;
  max-width: 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;

}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*  Grid Fallback */

.grid__item {
  display: inline-block;
  width: 33%
}

/* Styling CSS Grid*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.grid__item {
  background-color: var(--grid-background-color);
  padding: var(--main-padding);
  width: auto;
  border-radius: 1rem;
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: var(--main-padding);
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    max-height: 125px;
    max-width: 125px;
  }
}

@media all and (min-width: 320px) and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .logo {
    max-height: 75px;
    max-width: 75px;
  }
}

@media all and (max-width: 320px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid__item {
    margin: 0;
  }
  .logo {
    max-height: 75px;
    max-width: 75px;
  }
}

.angular-app {
  background-image: url(../img/Angular-app.png);
  background-size: cover;
}

.angular-app:hover {
  background-image: none;
  background-color: #eef6fd;
}

.angular-app:hover #angular-app-info {
  color: black;
}

.angular-app:hover .angular-button {
  color:var(--rbutton-text-color);
  background:var(--rbutton-background-color);
}

.angular-app:hover .angular-button:hover {
  color:var(--rbutton-hover-text-color);
  background: var(--rbutton-hovor-background-color);
}

#angular-app-info, .angular-button {
  color: transparent;
  background: transparent;
}

.harry-app {
  background-image: url(../img/Harry-potter-app.png);
  background-size: cover;
}

.harry-app:hover {
  background-image: none;
  background-color: #a9c4d0;
}

.harry-app:hover #harry-app-info {
  color: black;
}

.harry-app:hover .harry-button {
  color:var(--rbutton-text-color);
  background:var(--rbutton-background-color);
}

.harry-app:hover .harry-button:hover {
  color:var(--rbutton-hover-text-color);
  background: var(--rbutton-hovor-background-color);
}

#harry-app-info, .harry-button {
  color: transparent;
  background: transparent;
}

.movie-app {
  background-image: url(../img/Movie-app.png);
  background-size: cover;
}

.movie-app:hover {
  background-image: none;
  background-color: #fffff0;
}

.movie-app:hover #movie-app-info {
  color: black;
}

.movie-app:hover .movie-button {
  color:var(--rbutton-text-color);
  background:var(--rbutton-background-color);
}

.movie-app:hover .movie-button:hover {
  color:var(--rbutton-hover-text-color);
  background: var(--rbutton-hovor-background-color);
}

#movie-app-info, .movie-button {
  color: transparent;
  background: transparent;
}

.vue-app {
  background-image: url(../img/Vue-app.png);
  background-size: cover;
}

.vue-app:hover {
  background-image: none;
  background-color: #0c1824;
}

.vue-app:hover #vue-app-info {
  color: white;
}

.vue-app:hover .vue-button {
  color:var(--rbutton-text-color);
  background:var(--rbutton-background-color);
}

.vue-app:hover .vue-button:hover {
  color:var(--rbutton-hover-text-color);
  background: var(--rbutton-hovor-background-color);
}

#vue-app-info, .vue-button {
  color: transparent;
  background: transparent;
}

.page-footer {
  background-color: rgb(127, 196, 196);
  background-color: rgba(127, 196, 196, .5);
  bottom: 0;
  height: 7rem;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.social-media {
  border: none;
}

.experience-table table, th, td {
 border: var(--border-thickness) var(--border-type) var(--border-color);
 border-collapse: collapse;
 padding: var(--main-padding);
}

.contact-me-link {
 font-family: var(--body-font-family);
}

.resume {
  border: none;
  margin-left: 0;
  margin-top: 20px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
  color: white;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes motorcycle-move {
  from {
    transform: translate(0, 0);
  }

  to {
    opacity: 0.0;
    transform: translate(2000px, 0);
  }
}

.svg29 {
  animation: 1s motorcycle-move 1 alternate ease-in;
}
